<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.coffeeordering">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/NoAppTheme">

        <activity android:name=".RegisLogin.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".RegisLogin.LoginActivity">
        </activity>
        <activity android:name=".RegisLogin.ForgetPasswordActivity">
        </activity>
        <activity android:name=".RegisLogin.RegisActivity">
        </activity>
        <activity android:name=".Customer.ItemMenuOrderActivity"/>
        <activity android:name=".Customer.CartCustomerActivity"/>
        <activity android:name=".Customer.DetailCustomerOrderActivity">
        </activity>
        <activity android:name=".Customer.MenuCustomerActivity">
        </activity>
        <activity android:name=".Admin.MainAdminActivity">
        </activity>
        <activity
                android:name=".Admin.MenuAdminActivity"
                android:label="@string/title_activity_menu_admin"
                android:theme="@style/NoAppTheme.NoActionBar">
        </activity>
        <!--<activity android:name=".Admin.DetailPesananActivity">-->
        <!--</activity>-->
        <activity android:name=".Admin.ListPesananActivity">
        </activity>
        <activity android:name=".Admin.InsertMenuActivity"/>
        <activity android:name=".Customer.MainActivity">
        </activity>

        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts"/>
    </application>

</manifest>